@model belicious.Models.ViewModels.TopBookmarkViewModel;

<br><br>
<div class="text-left">
    <h3 class="display-5">Top Bookmarks</h3>

</div>
<hr>

@foreach (var item in Model.topBookmarks)
{
    <div>
        <h5 class="display-7"><a href=@item.Item1.urlLink>@item.Item1.name</a></h5><p>[@item.Item1.urlLink]</p>
        <p>Total: @item.Item3</p>
        <nobr>
            @foreach (var tag in @item.Item2)
            {
                <small>@tag </small> 
            }
        </nobr>
        <hr>
    </div>
    
}

<br>
<br>
<div class="text-left">
    <h3 class="display-5">Recently Added Bookmarks</h3>

</div>
<hr>

@foreach (var item in Model.recentlyAdded)
{
    <div>
        <h5 class="display-7"><a href=@item.Item1.urlLink>@item.Item1.name</a></h5><p>[@item.Item1.urlLink]</p>
        <p>Time: @item.Item3.ToLocalTime()</p>
        <nobr>
            @foreach (var tag in @item.Item2)
            {
                <small>@tag </small> 
            }
        </nobr>
        <hr>
    </div>
    
}