@model belicious.Models.ViewModels.UserBookmarkViewModel;
@{
    ViewData["Title"] = @Model.userName;
}

<div >
    <h2 class="display-6">@Model.userName - Your Bookmarks</h2>
    <hr>
    <div>
        <a asp-controller="Users" asp-action="New">New</a>
    </div>
    <hr>
    <div>
        @foreach (var item in @Model.bookmarks)
        {
            <div>
                <h5 class="display-7">@item.name</h5>
                <p>@item.urlLink</p> | <a asp-action="Remove" asp-route-bookmarkId="@item.bookmarkId">Remove</a>
                <hr>
            </div>
        }
    </div>
</div>
